<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Grand+Hotel|Great+Vibes|Permanent+Marker|Rancho|Rokkitt" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/index.css">
<script src="assets/javascript/index.js"></script>
</script>
		<title>NEWS</title>
		
	</head>
	<body id="wrapper">
		{{{ body }}}
	</body>
	


</html>